items assets kind software-package url https://aiirofficial.github.com/ipa/TTJailbreak11.ipa kind display-image url https://s3-eu-west-1.amazonaws.com/thebetafamily-v3/uploads/apps/5aead4cb-4dd6-4459-a382-51546ac3c96e/icon_96.png kind full-size-image url https://s3-eu-west-1.amazonaws.com/thebetafamily-v3/uploads/apps/5aead4cb-4dd6-4459-a382-51546ac3c96e/icon_96.png metadata bundle-identifier com.ppjb.tools.carrier.gr bundle-version 1.0 kind software title PPJailbreak 1.1 nga iPhoneAlbania
